<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="active navbar-brand glyphicon glyphicon-list-alt" href="/"></a>
    </div>
    <h4 class="navbar-text"><span class="label label-default">Mongo News Scraper</span></h4>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/">Home </a></li>
        <li><a href="/saved">Saved Articles</a></li>
      </ul>
      <button type="button" class="navbar-right btn btn-default navbar-btn">Scrape Articles</button>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<div id="banner" class="container-fluid jumbotron">
    <h1 class="text-center"><span class="label banner-label">MongoDB News Scraper</span></h1>
</div>